In [1]:
import pandas as pd
import numpy as np

In [2]:
filename = r"./q_data.csv"

In [3]:
dataframe = pd.read_csv(filename, sep=',')

In [14]:
dataframe = dataframe.iloc[:, :3]

In [17]:
dataframe.head()

          编号       名称       金额
0  S19970126  微型电子计算机  15980.0
1  S19970214  微型电子计算机   5000.0
2  S19980052      服务站  10100.0
3  S19980157    超级工作站   6140.0
4  S19980170      服务器   8940.0